@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero Section -->
<div class="hero">
    <h1>Намерете мечтаната си китара</h1>
    <p>Намерете най - добрите инструменти и техника на невероятни цени</p>
    <a href="#" class="btn btn-primary">Пазарувай</a>
</div>
<div class="section">
    <h2>Най - търсена музикална техника</h2>
    <div class="product-list">
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/abwtpzciggd4ur5peo6a.jpg" />
            </div>
            <div class="details">
                <div class="price">€5,4999</div>
                <p class="condition">Използвано – Безупречно</p>
                <div class="name">Gibson Custom Shop 1959 Les Paul Standard VOS Yamano 2021</div>
            </div>
            <button class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                </svg>
            </button>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/e95ufavhir0nqwhixwho.jpg" />
            </div>
            <div class="details">
                <div class="price">€1,000</div>
                <p class="condition">Използвано – Без забележки</p>
                <div class="name">Jackson X Series RRXT Left-Handed</div>
            </div>
            <button class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                </svg>
            </button>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-02-06 014531.png" />
            </div>
            <div class="details">
                <div class="price">€76,199</div>
                <p class="condition">Използвано – Без забележки</p>
                <div class="name">1952 Fender Telecaster</div>
            </div>
            <button class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                </svg>
            </button>

        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/ymambmkteuauxdarzdt5.jpg" />
            </div>
            <div class="details">
                <div class="price">€1,431</div>
                <p class="condition">Чисто нов</p>
                <div class="name">ESP EDWARDS E-M-II CTM -Red Sparkle- [Limited Edition]</div>
            </div>
            <button class="like-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Featured Products Section -->
<div class="section">
    <h2 class="text-center mb-4">Препоръчани продукти</h2>
    <div class="product-list">
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-01-30 185949.png" />
                <button class="like-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                    </svg>
                </button>
            </div>
            <div class="details">
                <h5 class="name">Fender Stratocaster</h5>
                <p class="condition">Използван - Без забележки</p>
                <div class="price">€1,069</div>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-01-30 185857.png" />
                <button class="like-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                    </svg>
                </button>
            </div>
            <div class="details">
                <h5 class="name">Gibson Les Paul</h5>
                <p class="condition">Използван – Без забележки</p>
                <div class="price">€4,499</div>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-01-30 190016.png" />
                <button class="like-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                    </svg>
                </button>
            </div>
            <div class="details">
                <h5 class="name">Ibanez RG550-DY</h5>
                <p class="condition">Използван - Без забележки</p>
                <div class="price">€1,029</div>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-01-30 185333.png" />
                <button class="like-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                    </svg>
                </button>
            </div>
            <div class="details">
                <h5 class="name">Yamaha Pacifica</h5>
                <p class="condition">Използван - Без забележки</p>
                <div class="price">€342</div>
            </div>
        </div>
    </div>
</div>

<!-- Categories Section -->
<div class="section">
    <h2 class="text-center mb-4">Категории</h2>
    <div class="product-list">
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/electric guitar.png" />
            </div>
            <div class="details">
                <h5 class="name">Електрически китари</h5>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/acoustic_guitars.png" />
            </div>
            <div class="details">
                <h5 class="name">Акустични китари</h5>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/screenshot 2025-02-06 003500.png" />
            </div>
            <div class="details">
                <h5 class="name">Бас китари</h5>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/h97921000001000-02-600x600.jpg" />
            </div>
            <div class="details">
                <h5 class="name">Усилватели</h5>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/effects_pedals.png" />
            </div>
            <div class="details">
                <h5 class="name">Ефект педали</h5>
            </div>
        </div>
        <div class="product">
            <div class="image-container">
                <img src="~/lib/pictures/dark_red_and_white_racing_stripe.jpg" />
            </div>
            <div class="details">
                <h5 class="name">Други</h5>
            </div>
        </div>
    </div>
</div>



