<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuitarHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diplomna_viktor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
            <div class="container">
                <!-- Лого -->
                <a class="navbar-brand" href="/">GuitarHub</a>

                <!-- Търсачка -->
                <div class="search-bar">
                    <input class="form-control" type="search" placeholder="Какво търсиш?" aria-label="Search">
                    <button class="btn btn-search" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>

                <!-- Навигационни елементи -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">
                    <li class="nav-item">
                        <a class="btn add-ad-btn" href="#">Добави обява</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Favorites">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20.8 4.6c-1.4-1.4-3.6-1.4-5 0l-1.8 1.8-1.8-1.8c-1.4-1.4-3.6-1.4-5 0-1.4 1.4-1.4 3.6 0 5l6.8 6.8 6.8-6.8c1.4-1.4 1.4-3.6 0-5z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cart-link" href="/Cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="9" cy="21" r="1"></circle>
                                <circle cx="20" cy="21" r="1"></circle>
                                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <!-- СъбХедър -->
    <div class="sub-header-menu">
        <div class="container">
            <ul class="menu-list">
                <li><a href="/categories/bass-guitars">Акустични китари</a></li>
                <li><a href="/categories/acoustic-guitars">Електрически китари</a></li>
                <li><a href="/categories/electric-guitars">Бас китари</a></li>
                <li><a href="/categories/pedals">Ефект педали</a></li>
                <li><a href="/categories/amps">Усилватели</a></li>
                <li><a href="/categories/more">Други</a></li>
            </ul>
        </div>
    </div>


    <main class="content">
        @RenderBody()
    </main>

        <!-- Футър -->
    <footer class="site-footer">
        <div class="site-footer__inner">
            <!-- Линкове -->
            <div class="site-footer__link-columns">
                <!-- Колона 1 -->
                <div class="site-footer__link-column">
                    <h3>Company</h3>
                    <div class="site-footer__collapsible-links">
                        <a href="/about" class="site-footer__link">About Us</a>
                        <a href="/jobs" class="site-footer__link">Careers</a>
                        <a href="/press" class="site-footer__link">Press</a>
                        <a href="/reverb-gives" class="site-footer__link">Reverb Gives</a>
                        <a href="/trust" class="site-footer__link">Trust & Safety</a>
                    </div>
                </div>
                <!-- Колона 2 -->
                <div class="site-footer__link-column">
                    <h3>Съпорт</h3>
                    <div class="site-footer__collapsible-links">
                        <a href="/support" class="site-footer__link">Свържете се с нас</a>
                        <a href="/faq" class="site-footer__link">Въпрос</a>
                        <a href="/returns" class="site-footer__link">Политика за връщане</a>
                    </div>
                </div>
                <!-- Колона 3 -->
                <div class="site-footer__link-column">
                    <h3>Explore</h3>
                    <div class="site-footer__collapsible-links">
                        <a href="/acousticguitars" class="site-footer__link">Акустични китари</a>
                        <a href="/electricguitars" class="site-footer__link">Електрически китари</a> 
                        <a href="/bassguitars" class="site-footer__link">Бас китари</a>
                        <a href="/effects" class="site-footer__link">Ефект педали</a>
                        <a href="/accessories" class="site-footer__link">Усилватели</a>
                        <a href="/accessories" class="site-footer__link">Други</a>
                    </div>
                </div>
            </div>

            <!-- Newsletter Signup -->
            <div class="site-footer__newsletter">
                <h3>Стойте в час</h3>
                <form class="newsletter-signup">
                    <input type="email" placeholder="Въведете своят имейл" class="newsletter-signup__input" />
                    <button type="submit" class="newsletter-signup__button">Абониране</button>
                </form>
            </div>
        </div>

        <div class="site-footer__bottom">
            <p>&copy; 2025 GuitarHub. All rights reserved.</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
